/* default / demo page */

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  min-height: 1280px;
  font-weight: 300;
  background-color: #951C13;
  /* -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000; */
}

p,
h1,
h2,
h3,
h4,
a {
  margin: 0;
  font-weight: 400;
}

a,
a:visited,
a:hover {
  color: lightgoldenrodyellow;
  text-decoration: none;
  /* border-bottom: 1px solid currentColor; */
}

#outro {
  height: 640px;
}


.ussr-svg {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.love-svg {
  fill: #fcd116;
  width: 10px;
  height: 10px;
  margin: 2px auto 0px;
}

.ussr-star-svg {
  fill: #a62116;
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

.ussr-svg-container {
  margin: 1rem auto;
}

.star-header {
  /* background-color: lightgray; */
  background-color: #a62116;
  /* border: 1px solid #000; */
  background: transparent;
  padding: 0.5rem;
  margin: 0;
  z-index: -10;
  font-size: 1.4rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.triangle-down {
  margin: 0 auto;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 30px solid lightgoldenrodyellow;
}

.story-container {
  background-color: #a62116;
  max-width: 40rem;
  margin: 0 auto;
}

.emph {
  font-weight: 600;
  /* background-color: #ffec97; */
}


/* *********************************** */
/* splash page */
/* *********************************** */
.splash-container {
  position: relative;
  z-index: 99;
  max-width: 40rem;
  text-align: center;
  margin: 0 2rem;
}

.splash-title {
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 0.05em;
  border-bottom: 2px solid lightgoldenrodyellow;
  padding: 1rem 0;
}

.splash-hook {
  font-size: 1.4rem;
  padding: 1rem;
  text-align: left;
  margin: 0 auto;
}

.splash-text-block {
  z-index: -3;
  position: -webkit-sticky;
  position: sticky;
  color: lightgoldenrodyellow;
  margin: 3rem auto;
  max-width: 30rem;
}

.intro-step p {
  text-align: left;
}

.intro-container {
  margin: 5rem auto;
  opacity: 0.9;
  width: calc(100% - 64px);
  max-width: 30rem;
  background-color: lightgoldenrodyellow;
}

.name-container {
  color: lightgoldenrodyellow;
  margin: 1rem auto 1rem;
}

.name-link {
  color: lightgoldenrodyellow;
}

.name {
  font-weight: 500;
  text-decoration: underline;
}

.name-text-line {
  line-height: 18px;
  font-size: 12px;
}

.published {
  font-size: 12px;
}

/* *********************************** */
/* scrollama */
/* *********************************** */
.scroll {
  position: relative;
  border-top: 2px solid #a62116;
  border-bottom: 2px solid #a62116;
}

.scroll-text {
  position: relative;
  margin: 135% auto 0;
  max-width: 30rem;
  width: calc(100vw - 64px) ;
}

.step {
  position: relative;
  z-index: 1000;
  opacity: 0.9;
  margin: 0 auto;
  text-align: center;
}

.step-text {
  background-color: lightgoldenrodyellow;
  margin: 0 auto;
  padding: 1rem;
  vertical-align: middle;
  font-size: 1rem;
  text-align: left;
  font-weight: 400;
}

.step-text-spacer {
  padding-top: 1rem;
  /* background-color: lightgoldenrodyellow;
  font-weight: 400;
  margin: 0 auto;
  padding: 1rem;
  vertical-align: middle;
  font-size: 1rem;
  text-align: left; */
}

.last-step {
  background-color: #3F3F3F
}

@media screen and (min-width: 768px) {
  .step-text {
    font-size: 18px;
  }
  /* .story-container {
    max-width: 800px;
    margin: 0 auto;
  }
  .scroll-text {
    margin: 50% auto 0;
  }
  .splash-container {
    margin: 0 auto;
  } */
}

/* *********************************** */
/* map graphic */
/* *********************************** */
.map-graphic-container {
  position: -webkit-sticky;
  position: sticky;
  margin: 0 auto;
}

.country,
.soviet-country {
  fill: #d0d0d0; /* country colour */
  stroke: #2a2c39; /* country border colour */
  stroke-width: 1; /* country border width */
}

/* *********************************** */
/* bar graphic */
/* *********************************** */
.bar-graphic-container {
  position: -webkit-sticky;
  opacity: 1;
  position: sticky;
  z-index: 15;
  height: 300px;
  background-color: transparent;
}

.bar-graphic-header {
  margin: 0 20px;
  font-size: 20px;
  font-weight: 500;
  /* border-bottom: 2px solid lightgoldenrodyellow; */
  /* padding: 4px 0; */
  text-align: center;
  color: lightgoldenrodyellow;
}

.bar-graphic-header-units {
  color: black;
}

.bar-graphic-header-text {
  color: lightgoldenrodyellow;
  letter-spacing: 1px;
}

/* *********************************** */
/* bar graphic */
/* *********************************** */
.line-graphic-container {
  position: -webkit-sticky;
  opacity: 1;
  position: sticky;
  z-index: 15;
  height: 300px;
  background-color: transparent;
}

.line-graphic-header {
  margin: 0 20px;
  font-size: 20px;
  font-weight: 500;
  /* border-bottom: 2px solid lightgoldenrodyellow; */
  /* padding: 4px 0; */
  text-align: center;
  color: lightgoldenrodyellow;
}

.line-graphic-header-units {
  color: black;
}

.line-graphic-header-text {
  color: lightgoldenrodyellow;
  letter-spacing: 1px;
}

.axis text {
  color: lightgoldenrodyellow;
  font: 16px sans-serif;
}
 
.axis path {
  stroke: #000;
  stroke-width: 2.5px;
  shape-rendering: crispEdges;
}
 .axis line {
  stroke: #000;
  stroke-width: 1.6px;
}

.axis .minor {
  stroke: red;
  stroke-width: 0.4px;
}
