.map-graphic-container {
  position: -webkit-sticky;
  /* margin-top: 320px; */
  opacity: 1;
  position: sticky;
  margin: 0 auto;
  right: 2rem;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 5;
}


.country,
.soviet-country {
  fill: #d0d0d0; /* country colour */
  stroke: #2a2c39; /* country border colour */
  stroke-width: 1; /* country border width */
}